# {{ ansible_managed }}

{% for key, value in config_items.iteritems() %}
{% if (value | match('^\d+$')) or (value in ['true', 'false']) %}
{{ key }} = {{ value }}
{% else %}
{{ key }} = '{{ value }}'
{% endif %}
{% endfor %}
